
            .jumbotron {
                height: 200px;
                background-color: #ea907a;
                color: #f4f7c5;
                display: flex;
               border-radius: 0 0 10px 10px;
                margin-bottom: 50px;
            }

           .text-center {
                margin: 15px auto 20px auto;
                
            }

           body {
               background-color: #fbc687;
           }

            .row {
                display: flex;
                justify-content: space-around;

            }

            .card {
                width: 18rem;
                display: flex;
                justify-content: space-around;
                margin-bottom: 60px;
                margin-right: 20px;
                background-color: #aacdbe;
                box-shadow: 2.5px 4px rgb(138, 137, 137);
            }

            .progrm {
                width: 50%;
            }

            .list-group-item {
                background-color: #f4f7c5;
            }

            .card-header {
                text-align: center;
            }

            .card-title {
                margin-bottom: 10px;
                text-align: center;
            }
